<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level[%thread] [%class] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SPARQL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="sparql" level="info" additivity="false">
        <appender-ref ref="SPARQL" />
    </logger>

    <logger name="com.herminiogarcia.shexml.Main" level="off"/>
    <logger name="com.herminiogarcia.shexml.MappingLauncher" level="off"/>
    <logger name="com.herminiogarcia.shexml.visitor.RDFGeneratorVisitor" level="off"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>